#
#  Sample GEOSldas HISTORY.rc file for LADAS (central simulation)
#
#  This sample is for the GEOSldas instance that is coupled with the central
#  simulation component of the Hy4dEnVar ADAS:
#
#  (1)  The "catch_progn_incr" is output is the ensemble average. 
#  (2)  The "catch_progn_incr" output is in tile space.  Its definition is generic
##################################################################################

VERSION: 1
EXPID:   hybd_ladas_LDAS 

COLLECTIONS:
                'catch_progn_incr'
                'tavg3_1d_lnd_Nt'
               # 'inst3_2d_lndfcstana_Nx'
           ::

GRID_LABELS: PC720x361-DC
             PC576x361-DC
      ::

PC720x361-DC.GRID_TYPE: LatLon
PC720x361-DC.IM_WORLD: 720
PC720x361-DC.JM_WORLD: 361
PC720x361-DC.POLE: PC
PC720x361-DC.DATELINE: DC
PC720x361-DC.LM: 1

PC576x361-DC.GRID_TYPE: LatLon
PC576x361-DC.IM_WORLD: 576
PC576x361-DC.JM_WORLD: 361
PC576x361-DC.POLE: PC
PC576x361-DC.DATELINE: DC
PC576x361-DC.LM: 1


catch_progn_incr.descr:       'Tile-space,3-Hourly,Instantaneous,Single-Level,Assimilation,Ensemble-Average Land Prognostics Increments',
catch_progn_incr.template:    '%y4%m2%d2_%h2%n2z.bin',
catch_progn_incr.mode:        'instantaneous',
catch_progn_incr.frequency:   030000,
catch_progn_incr.ref_time:    013000,
catch_progn_incr.fields:     'TCFSAT_INCR'    , 'LANDASSIM'      ,
                             'TCFTRN_INCR'    , 'LANDASSIM'      ,
                             'TCFWLT_INCR'    , 'LANDASSIM'      ,
                             'QCFSAT_INCR'    , 'LANDASSIM'      ,
                             'QCFTRN_INCR'    , 'LANDASSIM'      ,
                             'QCFWLT_INCR'    , 'LANDASSIM'      ,
                             'CAPAC_INCR'     , 'LANDASSIM'      ,
                             'CATDEF_INCR'    , 'LANDASSIM'      ,
                             'RZEXC_INCR'     , 'LANDASSIM'      ,
                             'SRFEXC_INCR'    , 'LANDASSIM'      ,
                             'GHTCNT1_INCR'   , 'LANDASSIM'      ,
                             'GHTCNT2_INCR'   , 'LANDASSIM'      ,
                             'GHTCNT3_INCR'   , 'LANDASSIM'      ,
                             'GHTCNT4_INCR'   , 'LANDASSIM'      ,
                             'GHTCNT5_INCR'   , 'LANDASSIM'      ,
                             'GHTCNT6_INCR'   , 'LANDASSIM'      ,
                             'WESNN1_INCR'    , 'LANDASSIM'      ,
                             'WESNN2_INCR'    , 'LANDASSIM'      ,
                             'WESNN3_INCR'    , 'LANDASSIM'      ,
                             'HTSNNN1_INCR'   , 'LANDASSIM'      ,
                             'HTSNNN2_INCR'   , 'LANDASSIM'      ,
                             'HTSNNN3_INCR'   , 'LANDASSIM'      ,
                             'SNDZN1_INCR'    , 'LANDASSIM'      ,
                             'SNDZN2_INCR'    , 'LANDASSIM'      ,
                             'SNDZN3_INCR'    , 'LANDASSIM'      ,
                       :: 

  tavg3_1d_lnd_Nt.descr:       'Tile-space,Time-Averaged,Single-Level,Assimilation,Land Surface Diagnostics',
  tavg3_1d_lnd_Nt.nbits:       12,
  tavg3_1d_lnd_Nt.template:    '%y4%m2%d2_%h2%n2z.bin',
  tavg3_1d_lnd_Nt.mode:        'time-averaged',
  tavg3_1d_lnd_Nt.frequency:   030000,
  tavg3_1d_lnd_Nt.ref_time:    013000,
  tavg3_1d_lnd_Nt.fields:      'WET3'       , 'ENSAVG'  , 'GWETPROF'     ,
                               'WET2'       , 'ENSAVG'  , 'GWETROOT'     ,
                               'WET1'      , 'ENSAVG'  , 'GWETTOP'      ,
                               'WCPR'       , 'ENSAVG'  , 'PRMC'         ,
                               'WCRZ'       , 'ENSAVG'  , 'RZMC'         ,
                               'WCSF'       , 'ENSAVG'  , 'SFMC'         ,
                               'TPSNOW'     , 'ENSAVG'  ,
                               'TPUNST'     , 'ENSAVG'  , 'TUNST'        ,
                               'TPSAT'      , 'ENSAVG'  , 'TSAT'         ,
                               'TPWLT'      , 'ENSAVG'  , 'TWLT'         ,
                               'TPSURF'     , 'ENSAVG'  , 'TSURF'        ,
                               'GRN'        , 'VEGDYN_e0001'  ,
                               'LAI'        , 'VEGDYN_e0001'  ,
                               'TP1'        , 'ENSAVG'  ,
                               'TP2'        , 'ENSAVG'  ,
                               'TP3'        , 'ENSAVG'  ,
                               'TP4'        , 'ENSAVG'  ,
                               'TP5'        , 'ENSAVG'  ,
                               'TP6'        , 'ENSAVG'  ,
                               'PRLAND'     , 'ENSAVG'  , 'PRECTOTLAND'  ,
                               'SNOLAND'    , 'ENSAVG'  , 'PRECSNOLAND'  ,
                               'TSLAND'     , 'ENSAVG'  , 'SNOMAS'       ,
                               'SNOWDP'     , 'ENSAVG'  , 'SNODP'        ,
                               'EVPSOI'     , 'ENSAVG'  , 'EVPSOIL'      ,
                               'EVPVEG'     , 'ENSAVG'  , 'EVPTRNS'      ,
                               'EVPINT'     , 'ENSAVG'  , 'EVPINTR'      ,
                               'EVPICE'     , 'ENSAVG'  , 'EVPSBLN'      ,
                               'RUNSURF'    , 'ENSAVG'  , 'RUNOFF'       ,
                               'BASEFLOW'   , 'ENSAVG'  ,
                               'SMLAND'     , 'ENSAVG'  ,
                               'QINFIL'     , 'ENSAVG'  ,
                               'FRUST'      , 'ENSAVG'  , 'FRUNST'       ,
                               'FRSAT'      , 'ENSAVG'  ,
                               'ASNOW'      , 'ENSAVG'  , 'FRSNO'        ,
                               'FRWLT'      , 'ENSAVG'  ,
                               'DFPARLAND'  , 'ENSAVG'  , 'PARDFLAND'    ,
                               'DRPARLAND'  , 'ENSAVG'  , 'PARDRLAND'    ,
                               'SHLAND'     , 'ENSAVG'  ,
                               'LHLAND'     , 'ENSAVG'  ,
                               'EVLAND'     , 'ENSAVG'  ,
                               'LWLAND'     , 'ENSAVG'  ,
                               'SWLAND'     , 'ENSAVG'  ,
                               'GHLAND'     , 'ENSAVG'  ,
                               'TWLAND'     , 'ENSAVG'  ,
                               'TELAND'     , 'ENSAVG'  ,
                               'DWLAND'     , 'ENSAVG'  , 'WCHANGE'      ,
                               'DHLAND'     , 'ENSAVG'  , 'ECHANGE'      ,
                               'SPLAND'     , 'ENSAVG'  ,
                               'SPWATR'     , 'ENSAVG'  ,
                               'SPSNOW'     , 'ENSAVG'  ,
                               'PEATCLSM_WATERLEVEL', 'ENSAVG'  ,
                               'PEATCLSM_FSWCHANGE' , 'ENSAVG'  ,
                    :: 
 
 
  inst3_2d_lndfcstana_Nx.descr:       '2d,3-Hourly,Instantaneous,Single-Level,Assimilation,Ensemble Land Forecast and Analysis Diagnostics',
  inst3_2d_lndfcstana_Nx.nbits:       12,
  inst3_2d_lndfcstana_Nx.template:    '%y4%m2%d2_%h2%n2z.nc4',
  inst3_2d_lndfcstana_Nx.archive:     '%c/Y%y4',
  inst3_2d_lndfcstana_Nx.mode:        'instantaneous',
  inst3_2d_lndfcstana_Nx.frequency:   030000,
  inst3_2d_lndfcstana_Nx.ref_time:    013000,
  inst3_2d_lndfcstana_Nx.format:      'CFIO',
  inst3_2d_lndfcstana_Nx.regrid_exch: '../input/tile.data',
  inst3_2d_lndfcstana_Nx.regrid_name: 'PE360x2160-CF',
  inst3_2d_lndfcstana_Nx.grid_label:  PC720x361-DC,
  inst3_2d_lndfcstana_Nx.deflate:     2,        
  inst3_2d_lndfcstana_Nx.fields:     'WCSF'              , 'ENSAVG'    , 'SFMC_FCST'           ,
                                     'WCRZ'              , 'ENSAVG'    , 'RZMC_FCST'           ,
                                     'WCPR'              , 'ENSAVG'    , 'PRMC_FCST'           ,
                                     'TPSURF'            , 'ENSAVG'    , 'TSURF_FCST'          ,
                                     'TP1'               , 'ENSAVG'    , 'TSOIL1_FCST'         ,
                                     'WCSF_ENSSTD'       , 'ENSAVG'    , 'SFMC_FCST_ENSSTD'    ,
                                     'WCRZ_ENSSTD'       , 'ENSAVG'    , 'RZMC_FCST_ENSSTD'    ,
                                     'WCPR_ENSSTD'       , 'ENSAVG'    , 'PRMC_FCST_ENSSTD'    ,
                                     'TPSURF_ENSSTD'     , 'ENSAVG'    , 'TSURF_FCST_ENSSTD'   ,
                                     'TP1_ENSSTD'        , 'ENSAVG'    , 'TSOIL1_FCST_ENSSTD'  ,
                                     'WCSF_ANA'          , 'LANDASSIM' , 'SFMC_ANA'            ,
                                     'WCRZ_ANA'          , 'LANDASSIM' , 'RZMC_ANA'            ,
                                     'WCPR_ANA'          , 'LANDASSIM' , 'PRMC_ANA'            ,
                                     'TPSURF_ANA'        , 'LANDASSIM' , 'TSURF_ANA'           ,
                                     'TP1_ANA'           , 'LANDASSIM' , 'TSOIL1_ANA'          ,
                                     'WCSF_ANA_ENSSTD'   , 'LANDASSIM' , 'SFMC_ANA_ENSSTD'     ,
                                     'WCRZ_ANA_ENSSTD'   , 'LANDASSIM' , 'RZMC_ANA_ENSSTD'     ,
                                     'WCPR_ANA_ENSSTD'   , 'LANDASSIM' , 'PRMC_ANA_ENSSTD'     ,
                                     'TPSURF_ANA_ENSSTD' , 'LANDASSIM' , 'TSURF_ANA_ENSSTD'    ,
                                     'TP1_ANA_ENSSTD'    , 'LANDASSIM' , 'TSOIL1_ANA_ENSSTD'
                        ::


# ========================== EOF ==============================================================
